{% extends 'games/base.html'%}

{% block body %}
<html>
<head>
    <meta charset="UTF-8">
    <title>THANK YOU</title>
</head>
<body style = "background-color: powderblue;">
    <div id="about">
			<span id="about-span" style="font-family: 'Stencil Std',fantasy; color:#E48632;font-size:45px; left:7%;position:relative;"><br>THANK YOU</span>
			<div class="about-div">
				<hr style="display:block;border: 1px solid #FF7700;">
                <p style="color: white; font-size: 23px"> Thank you for your valuable feedback! </p>
                <div class = "outside" style="align-items: center">

			</div>
			</div>
</div>
</body>
</html>

{% endblock %}